extends layout
block append head
    script(type='text/javascript', src='js/group-portal.js')
block content
    input(id="h-group-id" value=group_id type="hidden")
    div(class="header")
        nav(class="bg-custom")    
            table(style="width:100%;")
                    
                    tr
                        td(class="menu-item a-dashboard")
                            img(src="/img/icon.PNG" class='logo')
                            span(style="padding-left:5px" id="site-name") Transpay PMS
                        td(class="view-stock" class="menu-item")
                            span(class="fa fa-bitbucket menu-icon")
                            br(class="menu-br")
                            span(class="menu-text")  Eggs
                    
                        td(class="view-orders" class="menu-item") 
                            span(class="fa fa-viacoin menu-icon") 
                            br(class="menu-br")
                            span(class="menu-text")  Chicken
                    
                        td(class="a-members menu-item") 
                            span(class="fa fa-group menu-icon")
                            br(class="menu-br") 
                            span(class="menu-text")  Members
                        td(class="menu-item a-get-chicken-status") 
                            span(class="fa fa-paw menu-icon")
                            br(class="menu-br")
                            span(class="menu-text")  Status
                        td(class="menu-item view-cart leader-item" style="text-align:right;")
                            div(style="padding-right:10px")
                                span(class="fa fa-shopping-cart menu-icon")
                                span(class="badge badge-danger" id="no-cart")
                                br(class="menu-br") 
                                span(class="menu-text")  Cart
                        td(class="menu-item menu" style="text-align:right;"  )
                            div(style="padding-right:10px" class="dropdown")
                                span(class="" id="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    span(class="fa fa-dedent menu-icon")
                                    br(class="menu-br") 
                                    span(class="menu-text")  Settings
                                div(class="dropdown-menu dropdown-menu-right" aria-labelledby="menu")
                                    a(class="dropdown-item" href="#" onclick="wallet_div()") <i class='fa fa-money'></i> Wallet
                                    a(class="dropdown-item" href="#" onclick="view_profile()") <i class='fa fa-user'></i> Profile
                                    a(href="#" class="dropdown-item" onclick="reset_password_dl()") <i class='fa fa-key'></i> Reset Password
                                    a(class="dropdown-item confirm-axn" href="#" axn='signout') <i class='fa fa-sign-out'></i> Signout
    div(class="container")
        br
        div(class="child-div" id="dashboard")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") <span class='fa fa-dashboard'></span>  <span id="group-name"></span> / Dashboard
                div(class="card-body")
                    div(class="row row-cols-1 row-cols-md-4")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-group ")
                                   
                                        span  Members

                                div(class="card-body cb-link a-members")
                                    p(align='center' style="font-size:25px;")
                                        span(id="db-members-count")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-group ")
                                   
                                        span  Wallet
                                div(class="card-body")
                                    p(align="center" style="font-size:25px;" class="cb-link" onclick="wallet_div()")
                                        span(class="db-wallet")
                                        br
                                    

                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-paw")
                                    
                                        span  Chicken Status
                                div(class="card-body cb-link a-get-chicken-status")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-cs")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-hourglass-2")
                                    
                                        span  Laying Non-Laying
                                div(class="card-body cb-link a-get-chicken-status")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-cs-2")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                            span(class="fa fa-thumbs-o-up")
                                       
                                            span  Paid Eggs Stock
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;d")
                                        span(id="db-paid")
                                    

                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-hourglass-1")
                                   
                                        span  Eggs Stock Pending Approval
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                         
                                        span(id="db-pending-approval")
                                    
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-hourglass-2")
                                    
                                        span  Eggs Stock Pending Payment
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-pending-payment")
                        
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center") <i class="fa fa-steam-square"></i> Chicken Orders for Approval
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-orders-pending-approval")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center") <i class="fa fa-steam-square"></i> Chicken Orders Pending Delivery

                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-orders-pending-delivery")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center") <i class="fa fa-steam-square"></i> Chicken Orders Out for Delivery
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-orders-out-for-delivery")
                        div(class="col mb-3")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center") <i class="fa fa-steam-square"></i> Chicken Orders Delivered
                                div(class="card-body")
                                    p(align='center' style="font-size:15px;")
                                        span(id="db-orders-delivered")
                                    
        div(class="hd  child-div" id="members-div")

            button(class="btn btn-primary leader-item" id="a-add-new-member") <i class="fa fa-plus"></i> Add New Member
            p
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Group Members
                div(class="card-body")
                    div(id="members-table" class="table")
                    p(id="no-members" class="alert alert-info hd") No members added to this group yet
        
        div(class="hd child-div" id="stock-div")
            table(class="leader-item")
                tr
                    td
                        button(class="btn btn-primary a-add-stock") <i class="fa fa-plus"></i> New Eggs Stock
            p
               
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Eggs Stock

                div(class="card-body")
                   
                    div(id="stock-table")
                    p(id="no-stock" class="alert alert-info hd") No eggs stock has been added yet
        div(class="hd  child-div" id="chicken-status-div")

            button(class="btn btn-primary leader-item" id="a-new-cs") <i class="fa fa-plus"></i> New Status Record
            p
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Chicken Status
                div(class="card-body")
                    p(style="font-size:10px") * [Laying],[Non-Laying], [Total]
                  
                    div(id="chicken-status-table")
                    p(id="no-chicken-status" class="alert alert-info hd") No status added
        div(class="modal fade" tabindex="-1" aria-labelledby="cs-modal" aria-hidden="true" id="cs-modal")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") New Status Record
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. of Healthy
                                div(class="col-sm-8")
                                    table(class="100p")
                                        tr
                                            td
                                                input(type="number" class="form-control" id="cs-healthy" placeholder="Laying")
                                            td
                                                input(type="number" class="form-control" id="cs-healthy-nl" placeholder="Non-Laying")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. of Sick
                                div(class="col-sm-8")
                                     table(class="100p")
                                        tr
                                            td
                                                input(type="number" class="form-control" id="cs-sick" placeholder="Laying")
                                            td
                                                input(type="number" class="form-control" id="cs-sick-nl" placeholder="Non-Laying")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. of Dead
                                div(class="col-sm-8")
                                    table(class="100p")
                                        tr
                                            td
                                                input(type="number" class="form-control" id="cs-dead" placeholder="Laying")
                                            td
                                                input(type="number" class="form-control" id="cs-dead-nl" placeholder="Non-Laying")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. Sold off
                                div(class="col-sm-8")
                                    table(class="100p")
                                        tr
                                            td
                                                input(type="number" class="form-control" id="cs-sold" placeholder="Laying" )
                                            td
                                                input(type="hidden" class="form-control" id="cs-sold-nl" value="0")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label leader-item") Member
                                div(class="col-sm-8")
                                    select(id="cs-member-id" class="form-control leader-item members")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="save-cs") Save Record
        div(class="hd child-div" id="gp-orders-div")
            table
                tr
                    td
                        button(class="btn btn-primary a-add-order leader-item") <i class="fa fa-plus"></i> New Chicken Order
            
                    
            p
               
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Chicken Orders

                div(class="card-body")
                    p(align="right")
                        button(class="btn btn-primary view-orders" ) <i class='fa fa-refresh'></i> Refresh
                    
                    div(id="gp-orders-table")
                    p(id="no-gp-orders" class="alert alert-info hd") No orders
        div(class="hd child-div" id="orders-div")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Chicken Orders Breakdown
                div(class="card-body")
                    button(class="btn btn-primary" onclick="back('gp-orders-div')")
                        span(class="fa fa-arrow-circle-left") 
                        span  Back
                    p
                    div(id="orders-table")
                    p(id="no-orders" class="alert alert-info hd") No chicken orders have been made yet
        div(class="modal fade" tabindex="-1" aria-labelledby="order-form-modal" aria-hidden="true" id="order-form-modal")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") 
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        p(align="center")
                            button(class="btn btn-primary" onclick="select_order_form_img()")
                                span(class="fa fa-photo") 
                                span  Upload Order Form
                            div(class="hd")
                                input(type="file" id="order-form-file"  onchange="upload_order_form()")
                        div(style="text-align:center;width:100%")
                            img(class="hd" style="max-width:100%" id="order-form-img" onerror="order_form_load('error')" onload="order_form_load()")
                        div(class="hd" id="no-form-div" style="text-align:center")
                            span(class="fa fa-photo")
                            p No Order Form Uploaded
        div(class="modal fade" tabindex="-1" aria-labelledby="new-stock-div" aria-hidden="true" id="new-stock-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") New Eggs Stock
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Quantity
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="n-qty" placeholder="Quantity")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label leader-item") Member
                                div(class="col-sm-8")
                                    select(id="member-id" class="form-control leader-item")


                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="add-stock-btn") Add Eggs Stock
        div(class="modal fade" tabindex="-1" aria-labelledby="new-order-div" aria-hidden="true" id="new-order-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") New Chicken Order
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. of Hens
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="n-order-qty" placeholder="Quantity")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label leader-item") Member
                                div(class="col-sm-8")
                                    select(id="order-member-id" class="form-control leader-item")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="add-order-btn") Add to Cart
        div(class="modal fade" tabindex="-1" aria-labelledby="cart-modal" aria-hidden="true" id="cart-modal" data-backdrop="static")
            div(class="modal-dialog modal-lg modal-dialog-scrollable" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Chicken Orders Cart
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        div(id="cart-div" class="cart-div")
                            div(id="cart-table")
                        div(id="empty-cart-div" style="text-align:center" class="cart-div hd")
                                span(class="fa fa-shopping-cart")
                                br
                                p Cart is Empty
                        div(id="cart-checkout" class="cart-div hd")
                            div(style="text-align:center")
                                p(class="bld") Purchase Details
                                p(id="purchase-details")
                                p(class="bld") Total Amount
                                p
                                    span UGX 
                                    span(id="purchase-amount")
                            form
                                div(class="form-group row")
                                    label(class="col-sm-4 col-form-label bld") Payment Method
                                    div(class="col-sm-8")
                                        table
                                            tr
                                                
                                                td
                                                    input(type="radio" checked  name="pay-method" id="pay-method-mm" onclick="change_pay_method('mm')")
                                                td  Mobile Money
                                                

                                                td(style="padding-left:20px")
                                                    input(type="radio"  name="pay-method" id="pay-method-wallet" onclick="change_pay_method('wallet')")
                                                td  Wallet
                                    label(class="col-sm-4 col-form-label mm-el bld") Mobile Number
                                    div(class="col-sm-8")
                                        div(id="mm-phone-div" class='mm-el')
                                            input(type="text" class="form-control" id="mm-phone" placeholder="Phone")
                        div(id="cart-finished" style="text-align:center" class="cart-div hd")
                            img(src="img/ordered.png" style="width:100px")
                            p(style="font-size:20") Order has been Received
                            p(id="order-err-div") <span class="bld">Issue:</span> <span id="order-err" style="font-size:16;color:red"></span>
                            p <span class="bld"> Status:</span> <span id="order-status"></span>
                    div(class="modal-footer" id='cart-footer')
                        button(class="btn btn-primary cart-btn" id="check-out-btn" onclick="checkout_btn('add-order')") Checkout
                        button(class="btn btn-primary hd cart-btn" id="complete-payment-btn" onclick="complete_payment()") Complete Payment
                        button(class="btn btn-primary hd cart-btn" id="cart-retry" onclick="checkout_btn('retry-paying')") Retry
                        button(class="btn btn-primary hd view-orders cart-btn" id="cart-close" onclick="close_cart()") Close

        div(class="modal fade" tabindex="-1" aria-labelledby="chicken-order-details" aria-hidden="true" id="chicken-order-details" data-backdrop="static")
            div(class="modal-dialog modal-lg modal-dialog-scrollable" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="add-new-member-hdr") Chicken Order Details
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        div(id="chicken-order-details-div")
        div(class="modal fade" tabindex="-1" aria-labelledby="add-new-member-div" aria-hidden="true" id="add-new-member-div" data-backdrop="static")
            div(class="modal-dialog modal-lg modal-dialog-scrollable" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="add-new-member-hdr") Add New Member
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Name
                                div(class="col-sm-8")
                                    input(type="text" class="form-control" id="member-name" placeholder="Name" required)
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Email
                                div(class="col-sm-8")
                                    input(type="text" class="form-control" id="email" placeholder="Email" required)
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Primary Phone Number
                                div(class="col-sm-8")
                                    input(type="text"  class="form-control" id="phone" placeholder="Phone" required)
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Other Phone Number
                                div(class="col-sm-8")
                                    input(type="text" class="form-control" id="other-phone" placeholder="Other Phone" required)
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Date of Birth
                                div(class="col-sm-8")
                                    table(style="width:100%")
                                        tr
                                            td
                                                select(id="day" class="form-control day" )
                                            td
                                                select(id="month" class="form-control month")
                                            td
                                                select(id="year" class="form-control year")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Gender
                                div(class="col-sm-8")
                                   select(id="gender" class="form-control" required)
                                    option(value=0)
                                    option(value="Male") Male
                                    option(value="Female") Female
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Marital Status
                                div(class="col-sm-8")
                                   select(id="marital-status" class="form-control")
                                    option(value="0")
                                    option(value="Married") Married
                                    option(value="Not married") Not married
                            div(class="form-group row ")
                                label(class="col-sm-4 col-form-label spouse-div hd") Name of Spouse
                                div(class="col-sm-8 spouse-div hd")
                                    input(type="text"  id="spouse" placeholder="Spouse" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. Dependants
                                div(class="col-sm-8")
                                    input(type="number"  id="dependants" placeholder="Eg. 3" class="form-control" )
                            
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Disability Status
                                div(class="col-sm-8")
                                   select(name="disability_status" id="disability-status" class="form-control")
                                    option(value=0)
                                    option(value="No Disabled") Not Disabled
                                    option(value="Disabled") Disabled
                            div(class="form-group row hd")
                                label(class="col-sm-4 col-form-label disability-type-div hd") Type of Disability
                                div(class="col-sm-8 disability-type-div hd")
                                   select(name="disability_type" id="disability-type" class="form-control")
                                    option(value="0") Select option
                                    option(value="Vision Impairment") Vision Impairment
                                    option(value="Deaf or hard of hearing") Deaf or hard of hearing
                                    option(value="Mental health conditions") Mental health conditions
                                    option(value="Intellectual disability") Intellectual disability
                                    option(value="Acquired brain injury") Acquired brain injury
                                    option(value="Autism spectrum disorder") Autism spectrum disorder
                                    option(value="Physical disability") Physical disability

                                   
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") District
                                div(class="col-sm-8")
                                    select(name="district" class="form-control district" id="member-district" onchange="district_changed(this,'member-')")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") County
                                div(class="col-sm-8")
                                    select(class="form-control" id="member-county" onchange="county_changed(this,'member-')")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Subcounty
                                div(class="col-sm-8")
                                    select(name="subcounty" class="form-control" id="member-subcounty" onchange="subcounty_changed(this,'member-')")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Parish
                                div(class="col-sm-8")
                                    select(name="parish"  class="form-control" id="member-parish")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Village
                                div(class="col-sm-8")
                                    input(type="text" class="form-control district" id="member-village")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Education Level
                                div(class="col-sm-8")
                                    select(name="education_level" class="form-control" id="edu-level")
                                        option(value="0") Select option
                                        option(value="PHD") PHD
                                        option(value="Masters") Masters
                                        option(value="Bachelors Degree") Bachelors Degree
                                        option(value="Diploma") Diploma
                                        option(value="Tertiary Certificate") Tertiary Certificate
                                        option(value="Advanced Level Certificate") Advanced Level Certificate
                                        option(value="Ordinary Level Certificate") Ordinary Level Certificate
                                        option(value="Primary Level Certificate") Primary Level Certificate
                                        option(value="Primary Dropout") Primary Dropout
                                        option(value="Other") Other
                                        option(value="None") None
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label" required) Income Source
                                div(class="col-sm-8")
                                    input(type="text" id="income-source" placeholder="Income Source" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Place of Operation
                                div(class="col-sm-8")
                                    input(type="text"  required id="place-of-operation" placeholder="Place of Operation" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") ID No.
                                div(class="col-sm-8")
                                    input(type="text"  required id="id-no" placeholder="ID No." class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") ID Photo
                                div(class="col-sm-8")
                                    input(type="file"  required id="id-photo" placeholder="ID Photo" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Profile Photo
                                div(class="col-sm-8")
                                    input(type="file" required id="profile-photo" placeholder="Profile Photo" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Name of Next of Kin
                                div(class="col-sm-8")
                                    input(type="text" required  id="nok" placeholder="Next of Kin" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Next of Kin Primary Phone
                                div(class="col-sm-8")
                                    input(type="text" required id="nok-phone" placeholder="Next of Kin Phone" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Next of Kin Other Phone
                                div(class="col-sm-8")
                                    input(type="text" id="nok-phoneb" placeholder="Next of Kin Phone" class="form-control")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Role
                                div(class="col-sm-8")
                                    select(class="form-control" id="role")
                                        option(value="0")
                                        option(value="Member") Member
                                        option(value='Chairperson') Chairperson
                                        option(value='Treasurer') Treasurer
                                        option(value="Secretary") Secretary

                    div(class="modal-footer")
                        button(type="button" class="btn btn-primary form-control" id="add-group-member-btn") Submit  


        div(class="modal fade" tabindex="-1" aria-labelledby="change-role-div" aria-hidden="true" id="change-role-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Change Role
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                       form 
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Role
                                div(class="col-sm-8")
                                    select(class="form-control" id="role-2")
                                        option(value=0)
                                        option(value='Chairperson') Chairperson
                                        option(value='Treasurer') Treasurer
                                        option(value="Secretary") Secretary
                                        option(value="Member") Member
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="change-role-btn") Change Role
        div(class="modal fade" tabindex="-1" aria-labelledby="edit-stock-div" aria-hidden="true" id="edit-stock-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Edit Eggs Stock
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                       form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Quantity
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="e-qty" placeholder="Quantity")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="edit-stock-btn") Update
        div(class="modal fade" tabindex="-1" aria-labelledby="edit-order-div" aria-hidden="true" id="edit-order-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Edit Chicken Order
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                       form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") No. of Hens
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="e-order-qty" placeholder="Quantity")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" id="edit-order-btn") Update
        div(class="modal fade" tabindex="-1" aria-labelledby="receive-order-div" aria-hidden="true" id="receive-order-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Confirm Receipt
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                       form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Age in Days
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="r-age")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" onclick="receive_order()") Confirm Receipt
        div(class="hd child-div" id="wallet-div")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Wallet
                div(class="card-body")
                    button(class="btn btn-primary" onclick="back('dashboard')")
                        span(class="fa fa-arrow-circle-left") 
                        span  Back

                    p(align="center" style="font-size:25px")
                        span Acc/Bal: 
                        span(class="db-wallet")
                   
                    
                   
                    div(id="wallet-transactions-table")
                    p(id="no-wallet-transactions" class="alert alert-info hd") No transactions made on this wallet

        div(class="modal fade" tabindex="-1" aria-labelledby="topup-div" aria-hidden="true" id="topup-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title") Topup Wallet
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                       form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Phone Number
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="topup-phone" placeholder="Phone")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Amount
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="topup-amount" placeholder="Amount")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" onclick="topup_wallet()") Confirm Topup
                    

        



