extends layout
block append head
    script(type='text/javascript', src='js/index.js')
block content
    
    div(class="header")
        nav(class="navbar navbar-expand-sm navbar-dark bg-custom")
            a(class="navbar-brand" href="/admin")
        
                img(src="/img/icon.PNG" class="logo")
                span(style='padding-left:10px') Transpay PMS
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="nav-content")
                ul(class="navbar-nav ml-auto")
                    li(class="nav-item")
                        a(class="nav-link collapse-navbar" href="/market") 
                            span(class="fa fa-sign-in") 
                            span  Login
                    li(class="nav-item")
                        a(class="nav-link get-groups collapse-navbar" href="#") 
                            span(class="fa fa-user-plus") 
                            span  Register
            
    div(id="container")

        div(style="max-width:600px;margin:0px auto;padding:10px" id="login-div" class="child-div")
            div(class="card card-primary")
                div(class="card-header bg-custom text-white") Login
                div(class="card-body")
                    form
                        div(class="form-group row")
                            label(class="col-sm-3") Username
                            div(class="col-sm-9")
                                input(type="text" class="form-control" id="login-username" placeholder="Username or Phone")
                        div(class="form-group row")
                            label(class="col-sm-3") Password
                            div(class="col-sm-9")
                                input(type="password" class="form-control" id="login-password")
                        div(class="form-group row")
                            label(class="col-sm-3")
                            div(class="col-sm-9")
                                button(type="button" class="btn btn-primary form-control" id="login-btn") Login
                    button(class="btn btn-success go-to-register") <i class='fa fa-user-plus'></i> Register
                    p(align='right' style="padding-top:20px") Lost your password?, <span style='background:orange;color:#fff;border-radius:5px;padding:10px;cursor:pointer' class="reset-password"> Reset Now</span>
                    div(class="modal fade" id="req-pw-div" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
                        div(class="modal-dialog")
                            div(class="modal-content")
                                div(class="modal-header")
                                    button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
                                    h4(class="modal-title") Enter your Username
                                div(class="modal-body")
                                    table(style="width:100%" align="center")
                                        tr
                                            td
                                                input(class="form-control" id="memid" placeholder="Username")
                                            td(style="width:120px;padding-left:10px")
                                                button(class="btn btn-primary" id="go-to-pass") Submit
                                    
        div(style="max-width:600px;margin:0px auto;padding:10px" id="reset-div" class="child-div hd")
            div(class="card card-primary")
                div(class="card-header bg-custom text-white") Reset Password
                div(class="card-body")
                    form
                        
                        div(class="form-group row")
                            label(class="col-sm-3") Username
                            div(class="col-sm-9")
                                input(type="tel" class="form-control" id="reset-phone")
                        
                        div(class="form-group row")
                            label(class="col-sm-3")
                            div(class="col-sm-9")
                                button(type="button" class="btn btn-primary form-control" id="fetch-number") Submit
                    p(align='right' style="padding-top:20px")
                        button(class="btn btn-success go-to-login") <i class='fa fa-sign-in'></i> Back to Login
        req-reset-code

        div(style="max-width:600px;margin:0px auto;padding:10px" id="register-div" class="child-div hd")
            div(class="card card-primary")
                div(class="card-header bg-custom text-white") Register for an Account
                div(class="card-body")
                    form
                        div(class="form-group row")
                            label(class="col-sm-3") Name
                            div(class="col-sm-9")
                                input(type="text" class="form-control" id="register-name")
                        div(class="form-group row")
                            label(class="col-sm-3") Username
                            div(class="col-sm-9")
                                input(type="tel" class="form-control" id="register-phone" placeholder="Username or Phone")
                        
                        div(class="form-group row")
                            label(class="col-sm-3")
                            div(class="col-sm-9")
                                button(type="button" class="btn btn-primary form-control" id="register-btn") Register
                    
                    p(align='right' style="padding-top:20px") Have an account? 
                        button(class="btn btn-success go-to-login") <i class='fa fa-sign-in'></i> Login
        div(class="modal fade " id="confirm-phone-div")
            div(class="modal-dialog modal-sm")
                div(class="modal-content")
                    div(class="modal-body" style="text-align:center")
                        p(id="confirm-text")
                        button(class="btn btn-primary" data-dismiss="modal") Edit
                        span(style="padding-left:30px")
                        button(class="btn btn-success" id="confirm-register") Ok
        div(style="max-width:600px;margin:0px auto;padding:10px" class="child-div hd" id="verification-div" )
            div( class="card card-primary" )
                div(class="card-header bg-custom text-white") Enter SMS Verification Code
                div(class="card-body")
                    form
                        div(class="form-row")
                            div(class="col-md-10")
                                input(id="reset-code" class="form-control mb-2 mr-sm-2" placeholder="SMS Code")
                            div(class="col-md-2")
                                button(class="btn  btn-primary form-control" id="submit-reset-code" type="button") Submit
                    p(align='right' style="padding-top:20px") Didn't Recieve? 
                        button(class="btn btn-success send-reset-code") <i class='fa fa-refresh'></i> Resend
                    p(align='right' style="padding-top:20px")
                        button(class="btn btn-success go-to-login") <i class='fa fa-sign-in'></i> Back to Login
        div(style="max-width:600px;margin:0px auto;padding:10px" class="child-div hd" id="new-password-div" )
            div( class="card card-primary" )
                div(class="card-header bg-custom text-white") Set Password
                div(class="card-body")
                    form(class="form-inline" autocomplete="off")
                        label(class="sr-only") Password
                        input(id="new-password" class="form-control mb-2 mr-sm-2" placeholder="Password" type="password")
                        button(type="button" class="btn btn-primary mb-2" id="submit-new-password") Submit
                    p(align='left' style="padding-top:20px")
                        button(class="btn btn-success go-to-login") <i class='fa fa-sign-in'></i> Login
        div(class="modal fade" tabindex="-1" aria-labelledby="confirm-send-reset-div" aria-hidden="true" id="confirm-send-reset-div")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-body")
                            p(id="confirm-send-reset-content")
                        div(class="modal-footer")
                            button(class="btn btn-primary" onclick="send_reset_code()") Yes
                            button(class="btn btn-secondary" data-dismiss="modal") No

        

                            
        