doctype html
html(lang="en")
  block head
    meta(meta charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/javascripts/jquery.js")
    link( type="image/x-icon" rel="shortcut icon" href="/images/logo.png")
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(src="/javascripts/gen.js")
    script(src="/chartjs/dist/chart.min.js")
    script(src="/chartjs/utils.js")
    title=title
  body
        block content
        
