doctype html
html(lang="en")
  block head
    meta(meta charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/libs/jquery.js")
    link(link rel="stylesheet" type="text/css" href="/libs/bootstrap/css/bootstrap.min.css")
    link(link rel="stylesheet" type="text/css" href="/libs/fa/css/font-awesome.min.css")
    link( type="image/x-icon" rel="shortcut icon" href="/img/logo.png")
    script(src="/js/gen.js")
    script(src="/libs/chartjs/dist/chart.min.js")
    script(src="/libs/chartjs/utils.js")
    script(src="/libs/bootstrap/js/bootstrap.min.js")
    link(link rel="stylesheet" type="text/css" href="/css/gen.css")
    -title="PMS"
    title=title
  body
        block content
        
