extends layout
block append head
    script(type='text/javascript', src='js/supplier.js')
block content
    div(class="header")
        nav(class="navbar navbar-expand-lg navbar-dark bg-custom")
            a(class="navbar-brand a-dashboard" href="#")
        
                img(src="/img/icon.PNG" class="logo")
                span(style='padding-left:10px') Transpay PMS
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="nav-content")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item" onclick="get_stock()")
                        a(class="nav-link" href="#") 
                            span(class="fa fa-object-group") 
                            span  Stock
                    li(class="nav-item dropdown")
                        a(class="nav-link dropdown-toggle" id="a-orders" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                            span(class="fa fa-outdent") 
                            span  Orders
                        div(class="dropdown-menu" aria-labelledby="a-orders")
                            a(href="#" class='dropdown-item collapse-navbar' onclick="view_chicken_orders('Out for Delivery')") Pending Orders
                            a(href="#"  class='dropdown-item collapse-navbar' onclick="view_chicken_orders('Delivered')") Delivered
                ul(class="navbar-nav ml-auto")
                    li(class="nav-item dropdown user-li hd")
                        a(class="nav-link dropdown-toggle" href="#" id="a-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            span(class="fa fa-user")
                            span(id="my-name")
                        div(class="dropdown-menu" aria-labelledby="a-user-options" id="user-options")
                            a(href="#" class="dropdown-item" onclick="view_profile()") <i class='fa fa-user-o'></i> Profile
                            a(href="#" class="dropdown-item" onclick="reset_password_dl()") <i class='fa fa-key'></i> Reset Password
                            a(href="#" class="dropdown-item confirm-axn" axn='signout') <i class='fa fa-sign-out'></i> Signout
                    
    div(class="container")
        p
        div(class="child-div" id="dashboard")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") <span class='fa fa-dashboard'></span>  <span id="business-name"></span> / Dashboard
                div(class="card-body")
                    div(class="row row-cols-1 row-cols-md-3")
                        div(class="col mb-4")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-indent ")
                                   
                                        span  Chicken Stock

                                div(class="card-body cb-link" onclick="get_stock()")
                                    p(align='center' )
                                        span(id="db-stock")
                        div(class="col mb-4")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-outdent ")
                                   
                                        span  Pending Orders

                                div(class="card-body cb-link" onclick="view_chicken_orders('Out for Delivery')")
                                    p(align='center')
                                        span(id="db-chicken-orders-out-for-delivery")

                        div(class="col mb-4")
                            div(class="card")
                                div(class="card-header bg-custom text-white")
                                    p(align="center")
                                        span(class="fa fa-outdent ")
                                   
                                        span  Orders Delivered

                                div(class="card-body cb-link" onclick="view_chicken_orders('Delivered')")
                                    p(align='center')
                                        span(id="db-chicken-orders-delivered")
        div(class="child-div hd" id="chicken-orders-div")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white")
                        
                        span(class="fa fa-filter") 
                        span Chicken Orders -
                        span(id="chicken-orders-curr-status")
                div(class="card-body") 
                    div(class="dropdown")
                        button(class="btn btn-primary dropdown-toggle" type="button" id="change-chicken-order-status-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Change Order Status
                        div(class="dropdown-menu" aria-labelledby="change-chicken-order-status-btn")
                            button(class="dropdown-item"    onclick="change_chicken_orders_status('Out for Delivery')") Pending Delivery
                            button(class="dropdown-item"    onclick="change_chicken_orders_status('Delivered')") Mark as Delivered
                    p
                    div(class="table-responsive")
                        table(id="chicken-orders-table" class="table table-striped")
                    p(class="alert alert-info hd" id="no-chicken-orders") No chicken orders in selected category
        
        div(class="hd child-div" id="chicken-order-bd-div")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white") Chicken Order Breakdown
                div(class="card-body")
                    button(class="btn btn-primary" onclick="back('chicken-orders-div')")
                        span(class="fa fa-arrow-circle-left") 
                        span  Back
                    p
                    div(class="table-responsive")
                        table(id="chicken-order-bd-table" class="table")
                    p(id="no-chicken-orders-bd" class="alert alert-info hd") No chicken orders have been made yet
        div(class="child-div hd" id="stock-div")
            div(class="card card-prmary")
                div(class="card-header bg-custom text-white")
                    span Chicken Stock
                div(class="card-body")
                    button(class="btn btn-primary" onclick="new_stock_dl()") New Stock
                    p
                    div(class="table-responsive")
                        table(id="stock-table" class="table table-striped")
                    p(class="alert alert-info hd" id="no-stock") No stock added
        div(class="modal fade" tabindex="-1" aria-labelledby="new-stock-div" aria-hidden="true" id="new-stock-div")
            div(class="modal-dialog" )
                div(class="modal-content")
                    div(class="modal-header")
                        h5(class="modal-title" id="stock-hdr") New Chicken Stock
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body")
                        p(class="quick-info") *This record should be added on the day brooding starts
                        form
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label") Number of Chicks
                                div(class="col-sm-8")
                                    input(type="number" class="form-control" id="stock-qty" placeholder="Quantity")
                            div(class="form-group row")
                                label(class="col-sm-4 col-form-label")
                                div(class="col-sm-8")
                                    button(type="button" class="btn btn-primary form-control" onclick="add_stock()") Submit                     
        div(class="modal fade" tabindex="-1" aria-labelledby="change-pass-div" aria-hidden="true" id="change-pass-div")
                div(class="modal-dialog")
                    div(class="modal-content")
                        div(class="modal-header")
                            h5(class="modal-title") Change Password
                            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                        div(class="modal-body")
                            form
                                div(class="form-group row")
                            
                                    div(class="col-sm-4")
                                        
                                        input(id="old-pass" class="form-control")
                                    div(class="col-sm-4")
                                        
                                        input(id="new-pass" class="form-control")
                                    div(class="col-sm-4")
                                        button(type="button" class="btn btn-primary form-control" onclick="change_pass()") Submit